@import url('https://fonts.googleapis.com/css?family=Ubuntu:500&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500&display=swap&subset=cyrillic');

a{
font-family: 'Ubuntu', sans-serif !important; */
}

.logoseagull{

  font-weight: bold;
}
.logoseagull2{
  font-weight: 400px;
  font-size: 40px;
  font-family: 'Ubuntu', sans-serif !important; */
}
.maintext{
  font-family: 'Roboto Mono', monospace;
  font-size: 17px;



}

.Projectbtn{
/*  margin-right: 40px;*/
}
/*
.view{
  width: 100%;
}*/

.mainimg{
  /*display: block;
  max-width: 100%;
  height: auto;*/
  margin: 0 auto;
}


.fa-code{color: #e54d26}
.fa-bold{color: #563d7c}
.fa-css3{color: #2163af}
.fa-code, .fa-bold, .fa-css3{
  font-size: 4em;
  margin-bottom: 0.5em;*/
}

.typingeff{
  color: black;
  font-family: 'Ubuntu', sans-serif !important; */
}
.hello{
  padding-left: 13px;
  font-family: 'Roboto Mono', monospace;
}


.coding{
    text-align: left;
}

.padding{
  padding-bottom: 2em;
}

.padding2{
  padding-bottom: 4em;
}

.textondark{
  color: white;
}

.darksector{
  height: 100%;
  background: #212121;
  width: 100%;
}


.skills{
  height: 100%;
  width: 100%;
  background: #212121;
}

.paddingleft{
  margin-left: 40px;
}

.paddingtop{
  padding-top: 40px;
}

@media only screen and (max-width: 762px) {
  .paddingleft{
    margin-left: 0px;
  }
}

@media only screen and (max-width: 662px) {
  .typingeff{
    font-size: 40px;
  }
  .maintext{
    font-size: 15px;

  }
}

.skills2{
  color: white;
}

.skills{
/*  width: 500px;*/
  margin: 60px auto;
  color: white;
}

.skills li{
  margin: 20px 0;
}

.bar{
  background: #353b48;
  display: block;
  height: 2px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 3px;
  box-shadow: 0 0 10px #2187e7b3;
}

.bar span{
  height: 2px;
  float: left;
  background: #2187e7;
}

.html{
  width: 80%;
  animation: html 2s;
}
.css{
  width: 55%;
  animation: css 2s;
}
.js{
  width: 30%;
  animation: js 3s;
}
.c{
  width: 40%;
  animation: c 3s;
}

.unity{
  width: 60%;
  animation: unity 4s;
}

.python{
  width: 85%;
  animation: python 4s;
}

@keyframes html {
  0%{
    width: 0%;
  }
  100%{
    width: 80%;
  }
}

@keyframes css {
  0%{
    width: 0%;
  }
  100%{
    width: 55%;
  }
}

@keyframes js {
  0%{
    width: 0%;
  }
  100%{
    width: 30%;
  }
}

@keyframes c {
  0%{
    width: 0%;
  }
  100%{
    width: 40%;
  }
}

@keyframes unity {
  0%{
    width: 0%;
  }
  100%{
    width: 60%;
  }
}

@keyframes python {
  0%{
    width: 0%;
  }
  100%{
    width: 85%;
  }
}
*{
  font-family: sans-serif;
  list-style: none;
  padding: 0;
}

.urcard{
  font-size: 40px;
  color: black;
  font-weight: bold;
}

.caard:hover{
  background-image: url("card.jpg");
}
