.contacts{
  height: 100%;
  background-color: #212121;
}

.fa-phone{
  color: white;
  font-size: 0.8em;
}
.fa-vk{
  color: white;
}
.fa-instagram{
  color: white;
}

.fa-vk:hover{
  color: #455a64;
}

.fa-instagram:hover{
  color: #455a64;
}
.paddingleft{

}
.paddingbottom{
  padding-bottom: 2em;
}

.padding{
  padding-top: 70px;
}

.contactstext{
  color: white;
}

.white{
  color:white;
}

@media only screen and (max-width: 590px) {
  .contactstext{
    font-size: 32px;
  }

}

@media only screen and (max-width: 735px) {
  .contactstext{
    font-size: 27px;
  }

  .mail{
    font-size: 27px;
  }
}

@media only screen and (max-width: 496px) {
  .contactstext{
    font-size: 17px;
  }
  .mail{
    font-size: 17px;
  }
}
