@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
body, html{
  width:100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  color: #222;

}

.navbar-brad  {
  /*width: 150px;*/
  font-size: 30px;
}

.navbar-nav li{
  padding-right: 20px;

}

.nav-link {
  font-size: 1.1em !important;
}

.carousel-inner {
  height: 500px;
}

.carousel-inner img {
  height: 100%;
}

@media (min-width:1100px) {
  .carousel-inner img {
    width: 100%;
  }
  .carousel-caption{
    transform: translateY(-20%);

  }
}


.carousel-caption{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-shadow: 1px 1px 10px #000;
}

@media (max-width:450px) {
  .carousel-caption .display-2{
    font-size: 3em;
  }
}




.jumbotron {
  padding: 1em;
  border-radius: 0;
  margin-right: 0px;
}

.padding{
  padding-bottom: 2em;
}

.alert{
  width: 75%;
  margin: 0 auto;
}

.alert hr{
  border-top: 2px solid #f0f0f0;
  width: 95%;
  margin-top: 0.3em;
  margin-bottom: 1em;
}

.fa-code{color: #e54d26}
.fa-bold{color: #563d7c}
.fa-css3{color: #2163af}
.fa-vk{color: #2163af}
.fa-twitter{color: #00aced}
.fa-instagram{color: #517fa4}
.fa-facebook{color: #3b5998}
.fa-youtube{color: #bb0000}
.fa-google-plus-g{color: #dd4b39}


.fa-google-plus-g:hover, .fa-youtube:hover, .fa-vk:hover,  .fa-facebook:hover, .fa-instagram:hover, .fa-twitter:hover{
  color: #ccc;
}


.fa-code, .fa-bold, .fa-css3{
  font-size: 4em;
  margin-bottom: 0.5em;*/
}




/*
.fa-vk, .fa-twitter, .fa-instagram{
  font-size: 4em;
  margin-bottom: 0.5em;*/
}


.fixed1{
  height: 400px ;
  border-top: 4px solid #f0f0f0 ;
  border-bottom: 4px solid #f0f0f0 ;
  background: url('bg.jpg') no-repeat center center fixed ;
  background-blend-mode: multiply ;
  background-color: #3498db ;
  background-size: cover ;
  -o-background-size: cover ;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}
/*
.figure1{
  border: 5px solid red;
}*/

.card{
  margin-bottom: 20px;
}

#gifsBtn{
  margin-bottom: 20px;
}
#gifs img{
  max-width: 100%;
  max-height: 200px;
  margin-bottom: 20px;
}


.social a{
  font-size: 4em;
  padding: 20px;
}

.social2 a{
  font-size: 4em;
  padding: 3em;
}


@media (max-width: 750px) {
  .display-4{
    font-size: 1.5em;
  }
}

footer{
  background-color: #3f3f3f;
  padding-top: 50px;
  border-top: 4px solid silver;
  color: white;
}
